#weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 700;
  font-size: 20px;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
  color: white;
  position: absolute;
  top: 3%;
  right: 3%;
}

#weather > span {
  display: block;
  margin-bottom: 3px;
}
